.l-author 
    a.l-author__images(href="#")
        each img in author.prod_imgs 
            .l-author__images--wrapper
                img.o-image(src=img) 
                span.l-author__images--cta !{author.cta}
    .l-author__copy
        img.o-image.l-author__copy--icon(src=author.icon)
        h3.text__32 
            |!{author.title} 
        
        span.text__24 !{author.copy}